.controls {
  display: grid;
  grid-auto-flow: column;
}

.control {
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  color: white;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
  outline: none;
}
.control.add-box {
  background-color: green;
}
.control.delete-box {
  background-color: brown;
}
.control.add-box:hover {
  background-color: darkgreen;
}
.control.delete-box:hover {
  background-color: darkred;
}

.list {
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  height: 100%;
  overflow: hidden;
  list-style: none;
  margin: 0;
  padding: 0;
}
